//Colors
$background-color: #f7f7f7;
$black: #505050;
$gray: #DFDFDF;
$navy: #10559D;
$navy-green: #1A756E;
$blue: #24A7E7;
$blue-light: #7BBCFF;
$green: #2DB707;

$border-color: $gray;
$border: 1px solid $border-color;

//Fonts
$font-body:   'proxima-nova', 'proxima-nova-n4', Helvetica, Arial, sans-serif;
$font-mono:   'inconsolata', monospace, sans-serif;

//Font Weights
$font-thin:              100;
$font-light:             300;
$font-regular:           400;
$font-semibold:          600;
$font-bold:              700;
$font-extrabold:         800;
$font-ultra:             900;

//Layout
$side-padding: 46px;
$margin: 20px;

//Grid
$small-screen: new-breakpoint(max-width 945px);
$tablet: new-breakpoint(max-width 768px);
$mobile: new-breakpoint(max-width 700px);
