//Bourbon... Neat!
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

//Imports
@import "variables";
@import "normalize";
@import "fonts";
@import "typography";

/*
   Styles
   ========================================================================== */

* {
  -webkit-font-smoothing: antialiased;
  @include box-sizing(border-box);
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
}

p {
  margin-top: 0;
}

a {
  color: $navy;
  @include transition(all .15s linear);
  &:hover {
    color: lighten($navy, 10%);
  }
}

h1, h2, h3, h4, h5, h6 {
  a {
    text-decoration: none;
  }
}

@mixin button {
  position: relative;
  top: 0;
  display: inline-block;
  outline: none;
  background: $blue;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  padding: .75em 1.5em;
  font-weight: $font-semibold;
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: 0 2px 2px darken($navy, 3%);
  &:hover {
    background: $green;
    color: white;
  }
  &:active {
    top: 1px;
    background: darken($green, 2%);
    box-shadow: 0 2px 2px fade-out(darken($navy, 3%), 1);
  }
}

.button {
  @include button();
}

/*
   Layout
   ========================================================================== */

.container {
  @include outer-container();
  padding-left: $margin;
  padding-right: $margin;
}

#site-header {
  position: relative;
  background: $navy;
  padding-top: $margin*2;
  overflow: hidden;
  @include linear-gradient($navy 0%, $navy 30%, $navy-green 110%);
  h1 {
    float: left;
    margin: 0;
    @include media($mobile) {
      float: none;
    }
  }
  .button {
    float: right;
    margin-top: $margin;
    @include media($mobile) {
      display: block;
      float: none;
      text-align: center;
    }
  }
  > svg, img {
    margin: auto;
    top: 0;
    position: absolute;
    left: 0; right: 0;
    z-index: 0;
    opacity: .5;
  }
  .container, nav {
    position: relative;
    z-index: 1;
  }
  .container {
    padding-bottom: 40px;
    @include media($mobile) {
      padding-bottom: 20px;
    }
  }
}

#site-id {
  @include media($mobile) {
    text-align: center;
  }
  svg, img {
    position: relative;
    top: 11px;
    margin-right: $margin/2;
  }
}

.site-nav {
  border-top: 1px solid fade-out($green, .3);
  background: darken($green, 15%);
  background: fade-out($green, .6);
  @include transition(all .15s $ease-out-expo);
  ul {
    @include outer-container();
    text-align: center;
    padding: $margin/2 0;
    font-size: 18px;
    @include media($mobile) {
      max-width: none;
      white-space: nowrap;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      padding: 10px 20px;
    }
  }
  li {
    display: inline-block;
    a {
      display: block;
      padding: .25em 1em;
      text-decoration: none;
      font-weight: $font-semibold;
      border-radius: 1.25em;
      color: white;
      &:hover {
        background: fade-out(darken($green, 25%), .8);
      }
    }
    &.active a {
      background: $green;
    }
  }
}

#site-header {
  .sticky-wrapper {
    .site-nav.stuck {
      position: fixed;
      top: 0; left: 0;
      margin: 0;
      width: 100%;
      background: fade-out($green, .1);
      li {
        font-size: .85em;
      }
      li.active a {
        background: darken($green, 5%);
      }
    }
  }
}

main {
  @include outer-container();
  @include media($mobile) {
    padding-left: $margin;
    padding-right: $margin;
  }
}

section {
  @include row();
  padding-top: $margin*3;
  padding-bottom: $margin*3;
  border-bottom: $border;
  &:last-of-type { border: 0; }
  @include media($mobile) {
    padding-top: $margin;
    padding-bottom: $margin;
  }
  > aside {
    @include span-columns(3);
    @include shift(1);
    @include media($mobile) {
      @include reset-columns();
    }
    p {
      font-size: 14px;
      font-weight: $font-semibold;
    }
  }
  > article {
    @include span-columns(6);
    @include shift(1);
    @include media($mobile) {
      @include reset-columns();
    }
  }
}

.link-list {
  background: white;
  border: $border;
  list-style: none;
  border-radius: 6px;
  overflow: hidden;
  li {
    position: relative;
    border-bottom: $border;
    &:last-child { border: 0; }
    h2 {
      margin: 0;
      font-size: 20px;
    }
    a {
      display: block;
      text-decoration: none;
      padding: $margin/1.25 $margin;
      &:hover {
        background: $blue-light;
        background: fade-out($blue-light, .9);
        &:after {
          right: $margin;
        }
      }
      &:after {
        content: "";
        position: absolute;
        right: $margin + 3px;
        top: $margin/2 + 8px;
        width: 12px;
        height: 21px;
        background-image: url(../images/arrow.png);
        background-image: url(../images/arrow.svg);
        background-repeat: no-repeat;
        @include transition(right .2s $ease-out-expo);
      }
    }
  }
}

#site-footer {
  padding: $margin*2 0;
  margin-top: 200px;
  background: $navy;
  color: white;
  @include media($mobile) {
    text-align: center;
  }
  a {
    color: white;
  }
  .left {
    @include span-columns(4);
    @include media($mobile) {
      @include reset-columns();
    }
  }
  .right {
    @include span-columns(4);
    @include shift(4);
    @include media($mobile) {
      @include reset-columns();
    }
    p a {
      display: block;
      font-size: 19px;
    }
  }
}



