@import "neat/neat-helpers";

//Grid
$column: 75px;
$gutter: 22px;
$grid-columns: 12;
$max-width: em(1140);

//Breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);

@mixin reset-columns() {
  float: none;
  margin: 0;
  width: auto;
}